* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff9800;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("files/hero-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  text-align: left;
}

.hero-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff9800;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.hero-text p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn {
  background: #ff9800;
  color: #111;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  max-width: 900px;
  margin: auto;
  padding: 3rem 2rem;
}

.section h2 {
  margin-bottom: 1rem;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skills span {
  background: #ddd;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
}

button {
  padding: 0.7rem;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
}
.skills-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  width: 120px;
}

.skill i {
  font-size: 3rem;
  color: #ff9800;
  margin-bottom: 0.5rem;
}
.projects {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card img {
  width: 100%;
  display: block;
}

.project-card h3,
.project-card p {
  padding: 0.8rem;
}
.references-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.reference {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.ref-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.ref-title,
.ref-contact {
  color: #666;
  font-size: 0.95rem;
}
